.container__menu-title{
  color: aliceblue;
}

.container__menu-title > h1{
  font-size: 180px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 10px;
  border-color: #000000;
}
