.container__small-card-content {
  display:flex;
  flex-direction: row;
  margin: 5px;
}

.container__small-card >hr{
  margin-bottom: 5px;

}

.small-card__photo {
  max-width: 210px;
  margin-right: 10px;
}

.small-card__photo > img {
  width: 100%;

}

.small-card__text {
  width: 400px;
}

.small-card__title > h1 > a{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}

.small-card__data > p {
  font-size: 12px ;
  margin-top: 20px;
  margin-bottom: 10px;
}



