<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://images3.alphacoders.com/813/813087.jpg"
      cardData="6, janeiro de 2024"
      cardTitle="Eu sou um jovem que gosta muito de codar"
      cardDescription="Atualmente eu estou codando sempre que dá, só para vocês terem uma ideia o codigo que costumo codar é bem loucura"
    >
    </app-big-card>
  </div>
  <div class="others__articles">
    <app-small-card
      photoCover="https://wallpapercave.com/wp/wp12985191.jpg"
      cardData="6, maio de 2024"
      cardTitle="Eu não gosto de boruto, é muito ruim!"
    ></app-small-card>
    <app-small-card
      photoCover="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      cardData="6, maio de 2024"
      cardTitle="Akjasfl ksflakls cakskkfls  fasfasf afslblhls ajsbjf, jjwhbfja ahhsdiff"
    ></app-small-card>
    <app-small-card
      photoCover="https://rollingstone.uol.com.br/media/_versions/legacy/2015/img-1029473-kanye-west_widelg.jpg"
      cardData="6, maio de 2024"
      cardTitle="teste desta imagem para ver se ela irá bugarr"
    ></app-small-card>
  </div>
</div>
