.container__articles{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.articles__main{
  width: 450px;
  height: 600px;
  margin: 0 10px 0 10px  ;
}
.others__articles{
  width: 450px;
  height: 600px;
  margin: 0 10px 0 10px ;
}
