.container__menu-bar{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
}

.container__menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li {
  margin-right: 20px;
  list-style: none;
}
